ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }

 a{
     text-decoration: none;
     color:black;
 }

a:hover {    /* mouse over link */
    color: #00ff00;
    border-bottom: none;
    font-size: 1.5rem;
}